/*HTML*/

html,
body {
    height: 100%;
}


/*landing*/

.topleft {
    width: 50%;
    height: 600px;
    float: left;
    background-color: #CC9999;
       padding-top: 160px;
    opacity: .8;
}

.p:hover {text-decoration: none;
opacity: .8}

.p {font-family:monospace;
    font-size: 120px;
text-decoration: none;
color: cadetblue;
opacity: .5;}


.topright {
    width: 50%;
    height: 600px;
    float: right;
    background-color: #9E9C80;
    padding-top: 160px;
    opacity: .8;
}


@media only screen and (max-width: 768px) {
.topleft {
float: none;
    width: 100%;
    height: 70%;
   padding-top: 5px;
}

.p:hover {text-decoration: none;
opacity: .8}

.p {font-family:monospace;
    font-size: 110px;
text-decoration: none;
color: cadetblue;
opacity: .5;
    font-size: 50px;
}


.topright {
width: 100%;
    float: none;
    height: 70%;
    padding-top: 5px;
}
}