/*HTML*/

html,
body {
    height: 100%;
}
section {
    padding: 50px 0;
}



h2 {
    font-size: 40px;
    margin: 40px;
}

h3 {
    color: cadetblue;
    margin-bottom: 30px;
}

hr {
    width: 25%;
    border: 1px solid #000;
}
/*navigation*/

.navbar-default {
    background-color: white;
    opacity: .8;
    border: none;
}

.navbar-default .navbar-collapse>li>a {
    color: #DFFFD1;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #5F668E;
}

.top-buttons:hover {
    text-align: justify;
    width: [width of img];
    height: 100px;
    background-image: url('https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100');
}
/*landing*/


/*who-we-are*/

#who-we-are {
    background-color: #2C515E;
    font-size: 18px;
    color: #0B292B;
  
}

#who-we-are h2 {
    margin-bottom: 50px;
    margin-top: -25px;
}

#who-we-are p {
    text-align: justify;
    width: [width of img];
    font-size: 20px;
}

#benefits {
    background-color: #488145;
}

#benefits h2 {
    margin-bottom: 50px;
}

#benefits p {
    text-align: justify;
    width: [width of img];
    font-size: 16px;
}

#short {
    height: 250px;
    width: 250px;
}

#activities {
    background-color: #715F71;
}

#activities p {
    text-align: justify;
    width: [width of img];
    margin-top: 50px;
    font-size: 18px;
}
/*foot*/

#foot {
    background-color: black;
    color: #999;
    padding: 50px;
}

#foot a {
    border: 2px solid #999;
    padding: 5px;
    font-size: 15px;
    color: #999;
    text-shadow: 2px 2px black;
}
/*tablet*/

@media screen and (min-width: 768px) and (max-width: 968px) {
    
    #benefits img {
        height: 180px;
        width: 180px;
    }
    #benefits p {
        font-size: 12px;
    }
    
    
    #who-we-are p {
        font-size: 16px;
    }
    #activities img {
        width: 80%;
        margin: 0 auto;
    }
}

#activities p {
    margin-top: 0px;
}
/*iphone*/

@media only screen and (max-width: 768px) {
    .top-buttons:hover {
        height: inherit;
    }
   
    #landing h2 {
        font-size: 30px;
        margin: 10px;
    }
    #landing .col-sm-3 {
        font-size: 20px;
        padding-left: 90px;
        width: 500px;
    }
    #benefits img {
        margin-left: -10px;
        margin-right: 10px;
    }
    #benefits p {
        text-align: justify;
        width: [width of img];
        margin: 0 auto;
        font-size: 14px;
    }
    
    #who-we-are h2 {margin-top: -50px;
    margin-bottom: 20px;}
    #who-we-are img {
        width: 70%;
        margin: 0 auto;
    }
    #who-we-are p {
        font-size: 12px;
        text-align: justify;
        width: [width of img];
        margin: 10px 30px;
        text-align: center;
    }
    #activities p {
        text-align: center;
        margin-top: 0px;
        font-size: 14px;
    }
    #activities img {
        width: 70%;
        margin: 0 auto;
    }
}
